Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-string-to-number-conversion,
  clang-analyzer-*,
  -clang-analyzer-osx.*,
  -clang-analyzer-security.ArrayBound,
  -clang-analyzer-optin.osx.*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-unused-parameters,
  -misc-include-cleaner,

  performance-*,
  portability-*,
  readability-implicit-bool-conversion,
  readability-redundant-*,
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
